@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASIC */

.app {
  --light-grey: hsl(217, 12%, 63%);
  --meidum-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
  font-family: 'Overpass', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--very-dark-blue);
}

.card.card--thanks {
  display: none;
}

/* STYLES */

.card {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
  width: 335px;
  height: 350px;
  background-color: var(--dark-blue);
  border-radius: 12px;
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 400;
}

.card__title {
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number,
.card__img {
  font-weight: 700;
  background-color: hsl(213, 19%, 22%);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__submit-btn {
  background-color: var(--orange);
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 12px;
}

.card__submit-btn:hover,
:focus {
  background-color: white;
  color: var(--orange);
  cursor: pointer;
}

.number:hover {
  color: white;
  background-color: var(--orange);
  cursor: pointer;
}

.number:focus {
  color: white;
  background-color: var(--light-grey);
}

.active {
  color: white;
  background-color: var(--light-grey);
}

/* MEDIA QUERIES */

@media (max-width: 375px) {
}
